body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgray;
  flex-direction: column;
  overflow: hidden;
  background-image: url("./img/wooden_desk.jpg");
  background-repeat: none;
  background-size: cover;
}

button {
  background-color: white;
  color: black;
  font-weight: 800;
  border-radius: 4px;
  margin: 5px;
}

#container {
  display: flex;
  flex-wrap: wrap;
  height: calc(100vh - 30px);
  width: calc(100vh - 30px);
  border: solid rgb(187, 187, 187) 3px;
  background-color: white;
}

.gridCell {
  background-color: white;
}

.colorChanged {
  background-color: black;
}
