body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkgray;
  flex-direction: column;
}

button {
  background-color: white;
  color: black;
  font-weight: 800;
  border-radius: 4px;
  margin: 5px;
}

#container {
  display: flex;
  flex-wrap: wrap;
  height: 610px;
  width: 644px;
}

.gridCell {
  background-color: white;
}

.colorChanged {
  background-color: black;
}
